<%= link_to "back", :controller => "home", :action=>"index" %> </br>

<% if @logged_in %>
     <%= @me.name %>  <%= image_tag(@picture_me_url)  %> </br>
<% end %>

 <%= @list_friends.count %> of your friends have common likes with you </br>
</br>
List of likes : </br>
</br>
<div id="likes">
  <%= render :partial => "show_likes" %>
</div>
</br>
List of friends : </br>
</br>
<div id="friends">
  <%= render :partial => "show_friends" %>
</div>

